<header>
	<a href="/" class="header-title"><%- name %></a>

	<form class="header-nav">
		<input type="text" />
		<button type="submit" class="header-link">
			<i class="fa fa-search"></i>
		</button>
		<% if(user != null) { %>
			<a href="/upload" class="header-link"><i class="fa fa-upload"></i></a>
			<a href="/user/<%- user.username %>" class="header-link"><i class="fa fa-user"></i></a>
			<a href="/users/logout" class="header-link"><i class="fa fa-sign-out"></i></a>
		<% } else { %>
			<a class="header-link" href="/users/register"><i class="fa fa-user-plus"></i></a>
			<a class="header-link" href="/users/login"><i class="fa fa-sign-in"></i></a>
		<% } %>
	</form>
</header>