<nav>
	<div class="nav-container">
		<div class="nav-top">
			<% if(user != null) { %>
				<p>Hi <%- user.username %>!</p>
				<a href="/upload">Upload</a>
				<a href="/user/<%- user.username %>">Profile</a>
				<a href="/users/logout">Log out</a>
			<% } else { %>
				<a href="/users/login">Log In</a>
				<a href="/users/register">Sign Up</a>
			<% } %>
		</div>
		
		<div class="nav-footer">
			<a href="#">About us</a>
			<p><%- name %></p>
		</div>
	</div>
</nav>