<!DOCTYPE html>
<html>
    <%- include('headers/head') %>

    <body>
        <%- include('navigation/header.ejs'); %>

        <main>
            <section>
                <%- include('pages/' + page) %>
            </section>
        </main>

        <script> </script>
    </body>
</html>