@import "header.css";
@import "sidebar.css";
@import "images.css";
@import "user.css";
@import "forms.css";
@import "view.css";
@import "gallery.css";

body {
	margin: 0px;
	padding: 0px;
	background-color: #0F161E;
	color: #C3D1E8;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

main {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
}

section {
	flex: 1;
	margin-top: 40px;
	overflow: auto;
}

section > div {
	width: 100%;
}

@media only screen and (max-device-width : 500px) {
	section {
		margin-top: 90px;
	}
}