<input type="text" name="username" placeholder="Username" />
<input type="password" name="password" placeholder="Password" />
<label><input type="checkbox" name="check" value="value">Stay logged in</label>
<input type="submit" value="Login" />