<%# Title, desc and tags %>
<input type="text" name="title" placeholder="Title" required/>
<textarea name="desc" placeholder="Description" required></textarea>
<input type="text" name="tags" placeholder="Tags (Seperated by ;)" required/>

<%#  Content information %>
<label><input type="checkbox" name="original"/>Original content</label>
<input type="text" name="artist" placeholder="Artist"/>
<input type="text" name="source" placeholder="Source"/>

<%# File and submit %>
<input type="file" name="file" placeholder="File" required/>
<input type="submit" value="Post image" />